# Dependencias de Node.js
node_modules/
.pnpm-store/

# Variables de entorno y credenciales (privado)
.env
.env.local
.env.development
.env.production

# Carpetas de compilación
dist/
build/

# Archivos del sistema y logs
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/
coverage/